SlnDomy59/Dispatcher/Web References/refWsSms/WebServiceSms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://efficom.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://efficom.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://efficom.org/">
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="envoyerSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="tns:Sms" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Sms">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdSms" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumDestinataire" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AEnvoyer" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EtatMessage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FkUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateEnvoi" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="envoyerSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="envoyerSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthentificationEnteteSoap" type="tns:AuthentificationEnteteSoap" />
      <s:complexType name="AuthentificationEnteteSoap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:Utilisateur" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="Utilisateur">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUser" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomExpediteur" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="envoyerSmsSoapIn">
    <wsdl:part name="parameters" element="tns:envoyerSms" />
  </wsdl:message>
  <wsdl:message name="envoyerSmsSoapOut">
    <wsdl:part name="parameters" element="tns:envoyerSmsResponse" />
  </wsdl:message>
  <wsdl:message name="envoyerSmsAuthentificationEnteteSoap">
    <wsdl:part name="AuthentificationEnteteSoap" element="tns:AuthentificationEnteteSoap" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSmsSoap">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="envoyerSms">
      <wsdl:input message="tns:envoyerSmsSoapIn" />
      <wsdl:output message="tns:envoyerSmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSmsSoap" type="tns:WebServiceSmsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://efficom.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="envoyerSms">
      <soap:operation soapAction="http://efficom.org/envoyerSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:envoyerSmsAuthentificationEnteteSoap" part="AuthentificationEnteteSoap" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSmsSoap12" type="tns:WebServiceSmsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://efficom.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="envoyerSms">
      <soap12:operation soapAction="http://efficom.org/envoyerSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:envoyerSmsAuthentificationEnteteSoap" part="AuthentificationEnteteSoap" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSms">
    <wsdl:port name="WebServiceSmsSoap" binding="tns:WebServiceSmsSoap">
      <soap:address location="https://domy59efficom.eu/WebServiceSms.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSmsSoap12" binding="tns:WebServiceSmsSoap12">
      <soap12:address location="https://domy59efficom.eu/WebServiceSms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>