SlnDomy59/Dispatcher/Web References/refWsValidEmail/WebServiceVerificationEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://efficom.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://efficom.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://efficom.org/">
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifieEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifieEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifieEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthentificationEnteteSoap" type="tns:AuthentificationEnteteSoap" />
      <s:complexType name="AuthentificationEnteteSoap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:Utilisateur" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="Utilisateur">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUser" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomExpediteur" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="VerifieEmailSoapIn">
    <wsdl:part name="parameters" element="tns:VerifieEmail" />
  </wsdl:message>
  <wsdl:message name="VerifieEmailSoapOut">
    <wsdl:part name="parameters" element="tns:VerifieEmailResponse" />
  </wsdl:message>
  <wsdl:message name="VerifieEmailAuthentificationEnteteSoap">
    <wsdl:part name="AuthentificationEnteteSoap" element="tns:AuthentificationEnteteSoap" />
  </wsdl:message>
  <wsdl:portType name="WebServiceVerificationEmailSoap">
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Un message pour les tests</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifieEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validation addr email; 0--&gt; Valide 3--&gt; non valide  4--&gt;Erreur authentification</wsdl:documentation>
      <wsdl:input message="tns:VerifieEmailSoapIn" />
      <wsdl:output message="tns:VerifieEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceVerificationEmailSoap" type="tns:WebServiceVerificationEmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://efficom.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifieEmail">
      <soap:operation soapAction="http://efficom.org/VerifieEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VerifieEmailAuthentificationEnteteSoap" part="AuthentificationEnteteSoap" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceVerificationEmailSoap12" type="tns:WebServiceVerificationEmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://efficom.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifieEmail">
      <soap12:operation soapAction="http://efficom.org/VerifieEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VerifieEmailAuthentificationEnteteSoap" part="AuthentificationEnteteSoap" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceVerificationEmail">
    <wsdl:port name="WebServiceVerificationEmailSoap" binding="tns:WebServiceVerificationEmailSoap">
      <soap:address location="https://domy59efficom.ddns.net/WebServiceVerificationEmail.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceVerificationEmailSoap12" binding="tns:WebServiceVerificationEmailSoap12">
      <soap12:address location="https://domy59efficom.ddns.net/WebServiceVerificationEmail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>